name: Tag Build

on:
  workflow_dispatch:
permissions:
  contents: write
jobs:
  run-tag-build:
    uses: ./.github/workflows/build.yaml
    secrets: inherit
    with:
      upload-artifact: true
      upload-tag: ${{ github.ref_name }}
